.nav-header {
  display: flex;
  justify-content: space-around;
  background-color: #f68422;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 99;
}
.logo-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
}

@media screen and (max-width: 767px) {
  .nav-header {
    flex-direction: column;
  }
}

.icon {
  font-size: 50px;
  color: #ffffff;
  margin-right: 7px;
}
.text {
  color: #ffffff;
  font-weight: 500;
}
.icon-container {
  display: flex;
  align-items: center;
  background-color: grey;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
}
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  max-width: 1110px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
}

@media screen and (max-width: 767px) {
  .nav-content {
    flex-direction: column;
    width: 100%;
    padding-right: 15px;
  }
}
